
@import url("https://db.onlinewebfonts.com/c/ac95f91c55cc591ecf37a4d136ff8031?family=BMWTypeNext+Pro+Regular");


.bb {
    border: 2px black solid;

    margin-top: 30px;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: transparent;
    color: black;
  }

body {
    font-family: "BMWTypeNext Pro Regular";
    color: black;
  }